extends layout

block content
  h1= title
  p Welcome to #{title}
  p where we don't need to worry about the APIs world anymore. Every api must work 
  h2 How it works 
  p Simply the system is calling a list of apis. When ever the first api fail, we are calling the next api!.
  h2 Lets try it out
  p All you need to do it enter the list of URLs in the admin page. Then simple type your patch.
  p For example "http://MOCK_SERVER_URL/users". Where the "MOCK_SERVER_URL" is the Mock server url (#{title}) and "users" is the path you want the response from.

  h2 Configuration
  p In order to configure the Mock Server you need to go to the admin page http://MOCK_SERVER_URL/admin
  h2 Current supported request methods 
  <ul> 
  <li>POST</li>
  <li>GET</li>
  <li>PATCH</li>
  </ul>

